h1{
    font-size: 50px;
    font-weight: 700;
    color: rgba(8, 150, 206, 0.61);
}
.image{
    height: 790px;
}
.second-part{
    height: 790px;
    background-color: rgba(255, 228, 196, 0.253);
}
h3{
    font-size: 24px;
    font-weight: 700;
    color:rgba(0, 0, 0, 0.76);
}
label{
    width: 85px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}

.input-field{
    background-color: rgba(240, 159, 159, 0.479);
    border: none;
    font-size:18px;
    font-weight: 600;
    width: 250px;
    padding: 8px;
    border-radius: 5px;
}
.save-input{
    width: 90px;
    padding: 8px;
    margin-right: 10px;
    text-align: center;
   
   
}
.percentage{
    font-size: 20px;
    font-weight: 700;
}
.button{
    border: none;
    background-color: rgba(250, 163, 3, 0.911);
    color: white;
    margin-left: 10px;
    padding: 10px 70px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
}
#save-button{
    padding: 6px 45px ;
}
.error{
    background-color: rgba(236, 12, 12, 0.877);
    border-radius: 20px;
    width: 40vw;
    margin: auto;
    padding: 5px 5px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: none;
    margin-bottom: 10px;
}